<head>
  <meta charset="utf-8">
  <link rel="stylesheet">
</head>

<body>
  <div class="area"></div>
  <nav class="main-menu">

    <ul>
      <li>
        <div center>
          <span class="nav-text">
            <img
              Url="https://firebasestorage.googleapis.com/v0/b/myloginapp-98f2d.appspot.com/o/files%2Flogo02.jpg?alt=media&token=80a4b1e2-a613-4fca-b2a2-9a73c201ad11"
              width="50%" VSPACE=20>
          </span>
        </div>
      </li>
      <li>
        <a href="http://localhost:4200/home">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            หน้าแรก
          </span>
        </a>
      </li>

      <li>
        <a href="http://localhost:4200/product">
          <i class="fa fa-folder-open fa-2x"></i>
          <span class="nav-text">
            สินค้านำเข้า-ออก
          </span>
        </a>
      </li>
      <li>
        <a href="http://localhost:4200/edit_product">
          <i class="fa fa-cloud fa-2x "></i>
          <span class="nav-text">
            สินค้าในคลัง
          </span>
        </a>
      </li>
    </ul>

    <ul class="logout">
      <li>
        <a href="http://localhost:4200/">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text">
            ออกจากระบบ
          </span>
        </a>
      </li>
    </ul>
  </nav>
</body>

<div class="row_background">

  <div class="wrapper"><br>
    <h1 class="htext co1 ">{{this.textHeader}}</h1>

    <div class="container-space">

      <div class="card">

        <div class="card-header">
          <label>รายการสินค้า</label>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-warning mr-2 mb-3 " routerLink="/product">ย้อนกลับ</button>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1">รหัสสินค้า</label>
                <input [disabled]="details" type="รหัสสินค้า" class="form-control" id="_ID" aria-describedby="emailHelp"
                  placeholder="กรุณากรอกรหัสสินค้า " [(ngModel)]="_ID">
              </div>
            </div>
            <div class="col">
              <div class="form-group m">
                <label for="exampleFormControlSelect1">ประเภทสินค้า</label>
                <select [disabled]="details" class="form-control" id="type" [(ngModel)]="type">
                  <option selected disabled value="">กรุณาเลือก</option>
                  <option value="วัตถุดิบ">วัตถุดิบ</option>
                  <option value="วัสดุอุปกรณ์">วัสดุอุปกรณ์</option>
                  <option value="เมล็ดกาเเฟ">เมล็ดกาเเฟ</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1">ชื่อสินค้า</label>
                <input [disabled]="details" type="ชื่อสินค้า" class="form-control" id="name"
                  aria-describedby="emailHelp" placeholder="กรุณากรอกชื่อสินค้า " [(ngModel)]="Name">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="exampleInputPassword1">จำนวนสินค้า</label>
                <input [disabled]="details" type="จำนวนสินค้า" class="form-control" id="amount"
                  placeholder="กรุณากรอกจำนวนสินค้า" [(ngModel)]="amount">
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1">ราคาสินค้าต่อชิ้น</label>
                <input [disabled]="details" type="ราคาสินค้า" class="form-control" id="price"
                  aria-describedby="emailHelp " placeholder="กรุณากรอกราคาสินค้า" [(ngModel)]="price">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="exampleInputPassword1">ราคาสินค้าทั้งหมด</label>
                <input [disabled]="details" type="ราคาสินค้าทั้งหมด" class="form-control" id="priceall"
                  placeholder="กรุณากรอกราคาสินค้าทั้งหมด" [(ngModel)]="priceall">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1">วันที่สินค้าเข้า</label>
                <input type="date" [disabled]="details" class="form-control" id="code_1" aria-describedby="emailHelp"
                  placeholder="กรุณากรอกวันที่สินค้าเข้า " [(ngModel)]="code_1">

              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1">วันหมดอายุ</label>
                <input type="date" [disabled]="details" class="form-control" id="code" aria-describedby="emailHelp"
                  placeholder="กรุณากรอกวันที่สินค้าเข้า " [(ngModel)]="code">
              </div>

            </div>
            <div class="row mt-4">
              <div class="col text-center">
                <button *ngIf="!details" type="button" class="btn btn-warning mb-5 " routerLink="/product"
                  (click)="add()">เพิ่มข้อมูล</button>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>