<div class="row_background">
  <div class="wrapper"><br>
    <h1 class="htext co1 ">ข้อมูลสินค้า</h1>

    <div class="container-space">

      <div class="card">

        <div class="card-header">
          <label>รายการสินค้า</label>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1">รหัสสินค้า</label>
                <input [disabled]="details" type="รหัสสินค้า" class="form-control" id="_ID" aria-describedby="emailHelp"
                  placeholder="กรุณากรอกรหัสสินค้า " [(ngModel)]="_ID">
              </div>
            </div>
            <div class="col">
              <div class="form-group m">
                <label for="exampleFormControlSelect1">ประเภทสินค้า</label>
                <select [disabled]="details" class="form-control" id="type" [(ngModel)]="type">
                  <option selected disabled value="">กรุณาเลือก</option>
                  <option value="วัตถุดิบ">วัตถุดิบ</option>
                  <option value="วัสดุอุปกรณ์">วัสดุอุปกรณ์</option>
                  <option value="เมล็ดกาเเฟ">เมล็ดกาเเฟ</option>
                </select>
              </div>
            </div>

            <div class="col -inset-7">
              <div class="form-group">
                <label for="exampleInputEmail1">ชื่อสินค้า</label>
                <input [disabled]="details" type="ชื่อสินค้า" class="form-control" id="Name"
                  aria-describedby="emailHelp" placeholder="กรุณากรอกชื่อสินค้า " [(ngModel)]="Name">
              </div>
            </div>
          </div>


        </div>
      </div><br>

      <div>
        <div class="card mt" style="background-color: #663d2b; border-color: #fff;">
          <div class="row"></div>
          <table class="table table-light mt-4 table-show">
            <thead class="text-center">
              <tr class="text">
                <th scope="col">ลำดับ</th>
                <th scope="col">รหัสสินค้า</th>
                <th scope="col">วันที่สินค้าเข้า</th>
                <th scope="col">วันหมดอายุ</th>
                <th scope="col">ประเภทสินค้า</th>
                <th scope="col">ชื่อสินค้า</th>
                <th scope="col">จำนวนสินค้า</th>
                <th scope="col">ราคาสินค้าต่อชิ้น</th>
                <th scope="col">ราคาสินค้าทั้งหมด</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let data of this._data| filter:searchText || _ID || type || Name; let i = index ">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ data._ID }}</td>
                <td>{{ data.code_1 }}</td>
                <td>{{ data.code }}</td>
                <td>{{ data.type }}</td>
                <td>{{ data.Name }}</td>
                <td>{{ data.amount }}</td>
                <td>{{ formatMoney(data.price) }}</td>
                <td>{{ formatMoney(data.priceall) }}</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>
  </div>
</div>
<nav class="main-menu">
  <li>
    <div center>
      <span class="nav-text">
        <img
          Url="https://firebasestorage.googleapis.com/v0/b/myloginapp-98f2d.appspot.com/o/files%2Flogo02.jpg?alt=media&token=80a4b1e2-a613-4fca-b2a2-9a73c201ad11"
          width="50%" VSPACE=20>
      </span>
    </div>
  </li>

  <li>
    <a href="http://localhost:4200/home">
      <i class="fa fa-home fa-2x"></i>
      <span class="nav-text">
        หน้าแรก
      </span>
    </a>
  </li>

  <li>
    <a href="http://localhost:4200/product">
      <i class="fa fa-cloud fa-2x"></i>
      <span class="nav-text">
        สินค้าในคลัง
      </span>
    </a>
  </li>
  <li>
    <a href="http://localhost:4200/productEdit">
      <i class="fa fa-folder-open fa-2x"></i>
      <span class="nav-text">
        เเก้ไขสินค้า
      </span>
    </a>
  </li>

  <li>
    <a href="http://localhost:4200/">
      <i class="fa fa-power-off fa-2x"></i>
      <span class="nav-text">
        ออกจากระบบ
      </span>
    </a>
  </li>
</nav>
