<div class="row_background" align="center">

  <div class="left">
    <div class="header">
      <h1 class="animation a1">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/myloginapp-98f2d.appspot.com/o/logo000.png?alt=media&token=5ab67720-55c8-47ac-bfff-a7a1f17269b5"
          width="50%" alt="" width="350">
      </h1><br>
      <h2 class="animation a2">ลงชื่อเข้าสู่ระบบ</h2>
      <h4 class="animation a3">เข้าสู่ระบบบัญชีของคุณโดยใส่ชื่อผู้ใช้งานและรหัสผ่าน</h4>
    </div><br>

    <div class="form">
      <input type="email" class="form-field animation a4" placeholder="ชื่อผู้ใช้งาน" name="email" [(ngModel)]="email">
      <input type="password" class="form-field animation a5" placeholder="รหัสผ่าน" name="password"
        [(ngModel)]="password"><br>

      <button class="animation a6" routerLink="register()"><a>เข้าสู่ระบบ</a></button>

      <a href="/login" style="text-decoration: none;">Have an account ? <span class="text-danger">Register</span></a>
    </div>
  </div>

</div>